@import 'nav.css';
@import 'footer.css';
@import 'recordsection.css';
@import 'locationsection.css';

@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

:root {
    --white: #faf6ef;
    --blue: #233358;
    --grey: #889696;
    --lightgrey: #dfdfdf;
    --main-font: 'Muli', sans-serif;
  }

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin-top: 65px;
    background-color: var(--white);
    font-family: var(--main-font);
}

.main-image {
    position: relative;
    left: -8px;
    width: 100vw;
    height: 35vh;
    object-fit: cover;

}